<a href="https://colab.research.google.com/github/amnasyed1/google_colab_class1/blob/main/hha507class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading Packages

In [19]:
import pandas as pd
import seaborn as sns
import plotly as plt

In [20]:
!pip freeze > packages.txt

# Creating Functions

In [21]:
def bloodpress(systolic, diastolic) :
  total = systolic + diastolic
  return total

In [27]:
def bloodsugar(value):
  valuetoprint = f"Your blood sugar is {value}"
  return valuetoprint

# Testing Functions

In [15]:
# Test for Blood Pressure

test1 = bloodpress(190, 155)
test1

345

In [28]:
test2 = bloodsugar(200)
print (test2)

Your blood sugar is 200

In [29]:
test3 = bloodsugar(500)
print (test3)

Your blood sugar is 500

In [32]:
print (f"\n {test2} \n {test3}")

 Your blood sugar is 200
 Your blood sugar is 500

# Pandas data loading

## Examples with CSV files

In [34]:
## loading in the file first
df = pd.read_csv ('https://raw.githubusercontent.com/hantswilliams/HHA_504_2023/main/WK1/data/113243405_StonyBrookEasternLongIslandHospital_standardcharges.csv')

In [35]:
df

,Code,Description,Type,Package/Line_Level,Gross charge,Discounted cash price,De-identified min contracted rate,De-identified max contracted rate,Derived contracted rate,AETNA-Commercial HMO/POS,...,HandM-Commercial HMO/POS,HEALTHFIRST-Commercial HMO/POS,BLUE CROSS-Medicaid HMO,UNITED HEALTHCARE-Commercial HMO/POS,UNITED HEALTHCARE-Medicare Advantage HMO,INTEGRATED HEALTH-Commercial HMO/POS,MOLINA-Medicaid HMO,TUFTS HEALTH-Commercial HMO/POS,UNITED HEALTHCARE-Commercial PPO/Open Access,UNITED HEALTHCARE-Medicaid HMO
0,10060,SIMPLE OR SINGLE DRAINAGE OF SKIN ABSCESS,Outpatient,Line,575.75,575.75,384.69,786.90,585.80,NaN,...,NaN,384.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10060,SIMPLE OR SINGLE DRAINAGE OF SKIN ABSCESS,Outpatient,Package,575.75,575.75,384.69,786.90,585.80,NaN,...,NaN,384.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10080,SIMPLE DRAINAGE OF CYST OF TAILBONE,Outpatient,Line,548.00,548.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10080,SIMPLE DRAINAGE OF CYST OF TAILBONE,Outpatient,Package,7675.00,7675.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10120,"REMOVAL OF FOREIGN BODY FROM TISSUE, ACCESSED ...",Outpatient,Line,487.00,487.00,371.66,371.66,371.66,NaN,...,NaN,371.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2983,U0002,SARS COV 2 RNA,NaN,NaN,518.95,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2984,V2632,INTRAOCCULAR LENS,NaN,NaN,1696.10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985,V2632,PANOPTIX IOL,NaN,NaN,2985.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2986,V2785,CORNEAL GRAFT,NaN,NaN,16388.10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987,V2790,AMBIO DRY 2,NaN,NaN,2211.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN