<a href="https://colab.research.google.com/github/amnasyed1/google_colab_class1/blob/main/hha507class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading Packages

In [19]:
import pandas as pd
import seaborn as sns
import plotly as plt

In [20]:
!pip freeze > packages.txt

# Creating Functions

In [21]:
def bloodpress(systolic, diastolic) :
  total = systolic + diastolic
  return total

In [27]:
def bloodsugar(value):
  valuetoprint = f"Your blood sugar is {value}"
  return valuetoprint

# Testing Functions

In [15]:
# Test for Blood Pressure

test1 = bloodpress(190, 155)
test1

345

In [28]:
test2 = bloodsugar(200)
print (test2)

Your blood sugar is 200

In [29]:
test3 = bloodsugar(500)
print (test3)

Your blood sugar is 500

In [32]:
print (f"\n {test2} \n {test3}")

 Your blood sugar is 200
 Your blood sugar is 500

# Pandas data loading

## Example 1 with CSV files

In [34]:
## loading in the file first
df = pd.read_csv ('https://raw.githubusercontent.com/hantswilliams/HHA_504_2023/main/WK1/data/113243405_StonyBrookEasternLongIslandHospital_standardcharges.csv')

In [35]:
df

,Code,Description,Type,Package/Line_Level,Gross charge,Discounted cash price,De-identified min contracted rate,De-identified max contracted rate,Derived contracted rate,AETNA-Commercial HMO/POS,...,HandM-Commercial HMO/POS,HEALTHFIRST-Commercial HMO/POS,BLUE CROSS-Medicaid HMO,UNITED HEALTHCARE-Commercial HMO/POS,UNITED HEALTHCARE-Medicare Advantage HMO,INTEGRATED HEALTH-Commercial HMO/POS,MOLINA-Medicaid HMO,TUFTS HEALTH-Commercial HMO/POS,UNITED HEALTHCARE-Commercial PPO/Open Access,UNITED HEALTHCARE-Medicaid HMO
0,10060,SIMPLE OR SINGLE DRAINAGE OF SKIN ABSCESS,Outpatient,Line,575.75,575.75,384.69,786.90,585.80,NaN,...,NaN,384.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10060,SIMPLE OR SINGLE DRAINAGE OF SKIN ABSCESS,Outpatient,Package,575.75,575.75,384.69,786.90,585.80,NaN,...,NaN,384.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10080,SIMPLE DRAINAGE OF CYST OF TAILBONE,Outpatient,Line,548.00,548.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10080,SIMPLE DRAINAGE OF CYST OF TAILBONE,Outpatient,Package,7675.00,7675.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10120,"REMOVAL OF FOREIGN BODY FROM TISSUE, ACCESSED ...",Outpatient,Line,487.00,487.00,371.66,371.66,371.66,NaN,...,NaN,371.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2983,U0002,SARS COV 2 RNA,NaN,NaN,518.95,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2984,V2632,INTRAOCCULAR LENS,NaN,NaN,1696.10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985,V2632,PANOPTIX IOL,NaN,NaN,2985.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2986,V2785,CORNEAL GRAFT,NaN,NaN,16388.10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987,V2790,AMBIO DRY 2,NaN,NaN,2211.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Example 2 of loading CSV

In [40]:
dataset2 =pd.read_csv("sample_data/california_housing_test.csv")
dataset2

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

## Example 3

### loading a CSV that i uploaded from my computer and then uploaded it to the files section on colab

In [42]:
dataset2 =pd.read_csv("diagnoses2019.csv")
dataset2

<ipython-input-42-2acd8c6da84c>:1: DtypeWarning: Columns (3,4,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset2 =pd.read_csv("diagnoses2019.csv")

,row_id,service_year,county_code,county_name,payer,age_group_code,age_group_name,sex,unique_member_cnt,principal_diagnosis_code,...,member_months,total_paid_amt_sum,total_paid_amt_mean,total_paid_amt_med,insurer_paid_amt_sum,insurer_paid_amt_mean,insurer_paid_amt_med,member_paid_amt_sum,member_paid_amt_mean,member_paid_amt_med
0,6286144.0,2019.0,1.0,Aitkin,MINNESOTA HEALTH CARE PROGRAMS,2.0,19 - 44 years,F,11,R73,...,123,"$1,675.96",$152.36,$88.95,"$1,669.96",$151.81,$88.95,$6.00,$0.54,$0.00
1,6290440.0,2019.0,1.0,Aitkin,MEDICARE,4.0,65 - 74 years,F,19,R32,...,228,"$6,068.93",$319.41,$145.91,"$5,508.03",$289.89,$105.58,$560.90,$29.52,$0.00
2,6292576.0,2019.0,1.0,Aitkin,MEDICARE,5.0,75 years and older,M,341,Z01,...,"4,053","$95,368.11",$279.67,$162.47,"$85,085.57",$249.51,$154.62,"$10,282.54",$30.15,$0.00
3,6294256.0,2019.0,3.0,Anoka,COMMERCIAL,1.0,18 years and under,M,88,Z20,...,"1,039","$13,605.49",$154.60,$138.03,"$8,871.58",$100.81,$70.23,"$4,733.91",$53.79,$25.00
4,6295936.0,2019.0,3.0,Anoka,COMMERCIAL,2.0,19 - 44 years,M,49,M23,...,554,"$129,155.75","$2,635.83",$664.30,"$93,833.81","$1,914.97",$567.85,"$35,321.94",$720.85,$27.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN